<section class="bg-half-170 border-bottom d-table w-100" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4 pb-2">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Bienvenue sur notre gallerie </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let item of images; let i=index">
                <div class="card border-0 work-container work-modern position-relative d-block overflow-hidden rounded">
                    <div class="card-body p-0">
                        <img src="{{item }}" class="img-fluid" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="icons text-center">
                            <a (click)="open(i)"
                                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image">
                                <i-feather name="camera" class="fea icon-sm"></i-feather>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4 pt-2">
                <a routerLink="/portfolio-modern-three" class="btn btn-outline-primary">See More <i
                        class="mdi mdi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>