::ng-deep .dark-modal .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
  }
  ::ng-deep .dark-modal .modal-header {
  border : none
  }
  ::ng-deep .dark-modal .close {
  color: white;
  }
#read{
  display: none;
}

#read2{
  display: none;
}

#read3{
  display: none;
}
#display{
  display: block;
}

#lire{
  font-weight: bold;
  color: #fff;
}

#lire3{
  font-weight: bold;
  color: #fff;
}

#lire2{
  font-weight: bold;
  color: #fff;
}

#voir{
  font-weight: bold;
  color: #fff;
}

#voir3{
  font-weight: bold;
  color: #fff;
}

#voir2{
  font-weight: bold;
  color: #fff;
}
#lirenone{
  display: none;
}
  

  #background { 
    background: rgba(7, 1, 94, 0.377) url('../../../../assets/images/ueebg/ueebg5.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
   }