<section class="main-slider" id="home" class="bg-half-10 d-table w-100">
  <ngb-carousel class="slides" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="bg-half-170 rounded-md" style="background: url('assets/images/ueebg/ch.jpg') center center;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="title-heading text-center">
                <h2 class="text-white title-dark mb-3">UEEBG</h2>
                <ul class="list-unstyled">
                  <li class="text-white title-dark">
                      Union Des Élèves et Étudiants Bangou <br>Fer de lance ! 
                </ul>
                <h5 class="text-white title-dark mb-1">Valoriser notre patrimoine culturel et 
                  artistique, <br> mais aussi mettre ceux-ci en contact avec <br>les 
                  us et les coutumes de notre Groupement. </h5>
                <div class="mt-4">
                  <a href="javascript:void(0)" class="btn btn-primary">Read More </a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="bg-half-170 rounded-md" style="background: url('assets/images/ueebg/danse.png') center center;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="title-heading text-center">
                <h2 class="text-white title-dark mb-3">UEEBG</h2>
                <ul class="list-unstyled">
                  <li class="text-white title-dark">
                      Union Des Élèves et Étudiants Bangou <br>Fer de lance ! 
                </ul>
                <h5 class="text-white title-dark mb-1">Inculquer à nos adhérents les valeurs culturelles <br>et 
                  traditionnelles du Groupement Bangou</h5>
                <div class="mt-4">
                  <a href="javascript:void(0)" class="btn btn-primary">Read More </a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="bg-half-170 rounded-md" style="background: url('assets/images/ueebg/tagidor.jpg') center center;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="text-center">
                <h2 class="text-white title-dark mb-3">UEEBG</h2>
                <ul class="list-unstyled">
                  <li class="text-white title-dark">
                      Union Des Élèves et Étudiants Bangou <br>Fer de lance ! 
                </ul>
                <h5 class="text-white title-dark mb-1">La culture est le socle de nos valeurs et <br>de 
                  notre identité.</h5>
                <div class="mt-4">
                  <a href="javascript:void(0)" class="btn btn-primary">Read More </a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <!--end container-->
</section>
<!--end section-->
<!--end section-->
<!-- Hero End -->

<!-- Partners start -->
<section class="py-4 border-bottom border-top">
  <div class="container">
    <app-clients-logo></app-clients-logo>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Partners End -->

<!-- How It Work Start -->
<section class="section bg-light border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">How It Work ?</h4>
          <p class="text-muted para-desc mb-0 mx-auto">Start working with <span
              class="text-primary fw-bold">Dalois</span> that can provide everything you need to generate awareness,
            drive traffic, connect.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="container mt-100 mt-60">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="row align-items-center">
            <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
              <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                <div class="card-body p-0">
                  <img src="assets/images/ueebg/ndop.jpg" class="img-fluid" alt="work-image">
                  <div class="overlay-work bg-dark"></div>
                  <div class="content">
                    <a href="javascript:void(0)" class="title text-white d-block fw-bold">Web Development</a>
                    <small class="text-light">IT & Software</small>
                  </div>
                </div>
              </div>
            </div>
            <!--end col-->
  
            <div class="col-lg-6 col-6">
              <div class="row">
                <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                  <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                    <div class="card-body p-0">
                      <img src="assets/images/ueebg/tagidor.jpg" class="img-fluid" alt="work-image">
                      <div class="overlay-work bg-dark"></div>
                      <div class="content">
                        <a href="javascript:void(0)" class="title text-white d-block fw-bold">Michanical
                          Engineer</a>
                        <small class="text-light">Engineering</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
  
                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                  <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                    <div class="card-body p-0">
                      <img src="assets/images/ueebg/danse.png" class="img-fluid" alt="work-image">
                      <div class="overlay-work bg-dark"></div>
                      <div class="content">
                        <a href="javascript:void(0)" class="title text-white d-block fw-bold">Chartered
                          Accountant</a>
                        <small class="text-light">C.A.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end col-->
  
        <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
          <div class="ms-lg-4">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">About Our Story</h4>
              <p class="text-muted para-desc">Start working with <span class="text-primary fw-bold">Dalois</span> that
                can provide everything you need to generate
                awareness, drive traffic, connect.</p>
              <p class="text-muted para-desc mb-0">The most well-known dummy text is the 'Lorem Ipsum', which is said to
                have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less
                corresponds to 'proper' Latin. It contains a series of real Latin words.</p>
            </div>
  
            <ul class="list-unstyled text-muted">
              <li class="mb-0"><span class="text-primary h4 me-2"><i
                    class="uil uil-check-circle align-middle"></i></span>Fully Responsive</li>
              <li class="mb-0"><span class="text-primary h4 me-2"><i
                    class="uil uil-check-circle align-middle"></i></span>Multiple Layouts</li>
              <li class="mb-0"><span class="text-primary h4 me-2"><i
                    class="uil uil-check-circle align-middle"></i></span>Suits Your Style</li>
            </ul>
  
            <div class="watch-video mt-4 pt-2">
              <a href="#" target="_blank" class="btn btn-primary m-1 me-2">Read More
                <i-feather name="chevron-right" class="fea icon-sm"></i-feather>
              </a>
              <a  href="javascript:void(0);" data-type="youtube"
                data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1">
                <i-feather name="video" class="icons"></i-feather>
              </a><span class="fw-bold text-uppercase small align-middle ms-1">Watch Now</span>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <youtube-player [videoId]="'yba7hPeTSjk'" height="450" width="780">
                  </youtube-player>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <!--end row-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->


  <!--end container-->
</section>
<!--end section-->
<!-- How It Work End -->

<!-- Testi Start -->

<!--end section-->
<!-- Testi End -->

<!-- Pricing Start -->

<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-light">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- Pricing End -->

<!-- FAQ n Contact Start -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">How our <span class="text-primary">Dalois</span> work ?</h5>
            <p class="answer text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability is
              of great importance: human perception is tuned to recognize certain patterns and repetitions in texts.</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> What is the main process open account ?</h5>
            <p class="answer text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not
              be distracted from making a neutral judgement on the visual impact</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> How to make unlimited data entry ?</h5>
            <p class="answer text-muted mb-0">Furthermore, it is advantageous when the dummy text is relatively
              realistic so that the layout impression of the final publication is not compromised.</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> Is <span class="text-primary">Dalois</span> safer to use with my account ?</h5>
            <p class="answer text-muted mb-0">The most well-known dummy text is the 'Lorem Ipsum', which is said to have
              originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less
              corresponds to 'proper' Latin.</p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row my-md-5 pt-md-3 my-4 pt-2 pb-lg-4 justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h4 class="title mb-4">Have Question ? Get in touch!</h4>
          <p class="text-muted para-desc mx-auto">Start working with <span class="text-primary fw-bold">Dalois</span>
            that can provide everything you need to generate awareness, drive traffic, connect.</p>
          <a href="page-contact-two" class="btn btn-primary mt-4"><i class="mdi mdi-phone"></i> Contact us</a>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-footer">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- FAQ n Contact End -->


<!-- Back to top -->
<a href="#" [ngxScrollTo]="'#home'" id="back-to-top" class="btn btn-icon btn-primary back-to-top">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->