<section class="main-slider" id="home" class="bg-half-10 d-table w-100">
  <ngb-carousel class="slides" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="bg-half-170 rounded-md" style="background: url('assets/images/ueebg/ueebg5.png') center center;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="title-heading text-center">
                <h2 class="text-white title-dark mb-3">UEEBG</h2>
                <ul class="list-unstyled">
                  <li class="text-white title-dark">
                    Union Des Élèves et Étudiants Bangou <br>Fer de lance !
                </ul>
                <h5 class="text-white title-dark mb-1">Valoriser notre patrimoine culturel et
                  artistique, <br> mais aussi mettre ceux-ci en contact avec <br>les
                  us et les coutumes de notre Groupement. </h5>
                <div class="mt-4">
                  <a href="javascript:void(0)" class="btn btn-primary">Read More </a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="bg-half-170 rounded-md" style="background: url('assets/images/ueebg/danse.png') center center;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="title-heading text-center">
                <h2 class="text-white title-dark mb-3">UEEBG</h2>
                <ul class="list-unstyled">
                  <li class="text-white title-dark">
                    Union Des Élèves et Étudiants Bangou <br>Fer de lance !
                </ul>
                <h5 class="text-white title-dark mb-1">Inculquer à nos adhérents les valeurs culturelles <br>et
                  traditionnelles du Groupement Bangou</h5>
                <div class="mt-4">
                  <a href="javascript:void(0)" class="btn btn-primary">Read More </a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="bg-half-170 rounded-md" style="background: url('assets/images/ueebg/ch.jpg') center center;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="text-center">
                <h2 class="text-white title-dark mb-3">UEEBG</h2>
                <ul class="list-unstyled">
                  <li class="text-white title-dark">
                    Union Des Élèves et Étudiants Bangou <br>Fer de lance !
                </ul>
                <h5 class="text-white title-dark mb-1">La culture est le socle de nos valeurs et <br>de
                  notre identité.</h5>
                <div class="mt-4">
                  <a href="javascript:void(0)" class="btn btn-primary">Read More </a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <!--end container-->
</section>
<!--end section-->
<!--end section-->
<!-- Hero End -->

<!-- Partners start -->
<section class="py-4 border-bottom border-top">
  <div class="container">
    <app-clients-logo></app-clients-logo>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Partners End -->

<!-- How It Work Start -->
<section class="section bg-light border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Union des Elèves et Etudiants Bangou de Douala </h4>
        </div>
      </div>

    </div>

    <div class="container mt-100 mt-60">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
          <div class="ms-lg-4">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">C'est quoi l'UEEBg ?</h4>
              <p class="text-muted para-desc mb-0 mx-auto"> L’Union des Elèves et Etudiants Bangou <span
                  class="text-primary fw-bold">(UEEBg)</span> est une association à
                but non lucratif et à caractère essentiellement culturel et éducationnel dont l’objectif est de
                rassembler et
                mobiliser les élèves et étudiants Bangou derrière des éléments fondamentaux du développement des
                personnes et des collectivités tels que l’éducation, la vie ensemble, la connaissance et la
                pérennisation
                de la culture, et l’insertion professionnelle.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row align-items-center">
            <div>
              <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                <div class="card-body p-0">
                  <img src="assets/images/ueebg/ndop.jpg" class="img-fluid" alt="work-image">
                  <div class="overlay-work bg-dark"></div>
                  <div class="content">
                    <a href="javascript:void(0)" class="title text-white d-block fw-bold">Danses culturelles</a>
                    <small class="text-light">gnangnan</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
        <!--end col-->

      </div>
      <!--end row-->
    </div>
 
    <div class="container mt-100 mt-60">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="row align-items-center">
            <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
              <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                <div class="card-body p-0">
                  <img src="assets/images/ueebg/ndop.jpg" class="img-fluid" alt="work-image">
                  <div class="overlay-work bg-dark"></div>
                  <div class="content">
                    <a href="javascript:void(0)" class="title text-white d-block fw-bold">Tenu trditionnelle</a>
                    <small class="text-light">NDOP</small>
                  </div>
                </div>
              </div>
            </div>
            <!--end col-->

            <div class="col-lg-6 col-6">
              <div class="row">
                <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                  <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                    <div class="card-body p-0">
                      <img src="assets/images/ueebg/tagidor.jpg" class="img-fluid" alt="work-image">
                      <div class="overlay-work bg-dark"></div>
                      <div class="content">
                        <a href="javascript:void(0)" class="title text-white d-block fw-bold">Tagidor Hotel</a>
                        <small class="text-light">Patrimoine</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                  <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                    <div class="card-body p-0">
                      <img src="assets/images/ueebg/danse.png" class="img-fluid" alt="work-image">
                      <div class="overlay-work bg-dark"></div>
                      <div class="content">
                        <a href="javascript:void(0)" class="title text-white d-block fw-bold">Danse traditionnelle</a>
                        <small class="text-light">Culture</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end col-->

        <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
          <div class="ms-lg-4">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">Présentation sommaire de l’UEEBg</h4>

              
              <p class="text-muted para-desc">Fondée en 1957 à Nkongsamba par un groupe d’élèves et étudiants Bangou, animés par le
                désir de mieux se connaitre et de se donner les moyens nécessaires pour pouvoir apporter leur pierre à
                la construction du groupement, l’Union des Elèves et Etudiants Bangou en abrégé « UEEBg » et dont la devise est « Unité – Discipline – Progrès ».
                 est une association à
                but non lucratif et à caractère essentiellement culturel et éducationnel dont l’objectif est de rassembler
                et
                mobiliser les élèves et étudiants Bangou derrière des éléments fondamentaux du développement des
                personnes et des collectivités tels que l’éducation, la vie ensemble, la connaissance et la pérennisation
                de la culture, et l’insertion professionnelle.</p>
            </div>

            <div class="watch-video mt-4 pt-2">
              <a href="#" routerLink="/about" class="btn btn-primary m-1 me-2">A propos de nous
                <i-feather name="chevron-right" class="fea icon-sm"></i-feather>
              </a>
              <!-- <a href="javascript:void(0);" data-type="youtube" data-id="yba7hPeTSjk"
                class="btn btn-icon btn-pills btn-primary m-1">
                <i-feather name="video" class="icons"></i-feather>
              </a><span class="fw-bold text-uppercase small align-middle ms-1">Watch Now</span>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <youtube-player [videoId]="'yba7hPeTSjk'" height="450" width="780">
                  </youtube-player>
                </div>
              </ng-template> -->
            </div>
          </div>
        </div>
      </div>
      <!--end row-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->


  <!--end container-->
</section>
<!--end section-->
<!-- How It Work End -->

<!-- Testi Start -->

<!--end section-->
<!-- Testi End -->

<!-- Pricing Start -->

<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-light">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- Pricing End -->

<!-- FAQ n Contact Start -->
<section class="section bg-light">
  <div class="container">
    <div class="col-12 text-center">
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">Nos activités </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">Reveillon de <span class="text-primary">Noel</span></h5>
            <p class="answer text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability is
              of great importance: human perception is tuned to recognize certain patterns and repetitions in texts.</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> Semaine de la femme</h5>
            <p class="answer text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not
              be distracted from making a neutral judgement on the visual impact</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> Camp de vaccance</h5>
            <p class="answer text-muted mb-0">Furthermore, it is advantageous when the dummy text is relatively
              realistic so that the layout impression of the final publication is not compromised.</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">Journée de l'excellence</h5>
            <p class="answer text-muted mb-0">The most well-known dummy text is the 'Lorem Ipsum', which is said to have
              originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less
              corresponds to 'proper' Latin.</p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row my-md-5 pt-md-3 my-4 pt-2 pb-lg-4 justify-content-center">
     
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-12">
        <div class="section-title mb-4 pb-2">
          <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">Aperçu de notre gallerie </h4>
            </div>
          </div>
          <p class="text-muted para-desc mb-0">Start working with <span class="text-primary fw-bold">Dalois</span>
            that can provide everything you need to generate
            awareness, drive traffic, connect.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let item of workList; let i=index">
        <div class="card border-0 work-container work-modern position-relative d-block overflow-hidden rounded">
          <div class="card-body p-0">
            <img src="{{item.image }}" class="img-fluid" alt="work-image">
            <div class="overlay-work bg-dark"></div>
            <div class="content">
              <h5 class="mb-0"><a routerLink="/page-work-detail" class="text-white title">{{item.title}}</a></h5>
              <h6 class="text-light tag mb-0">{{item.category}}</h6>
            </div>
            <div class="icons text-center"> 
              <a (click)="open(i)"
                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image">
                <i-feather name="camera" class="fea icon-sm"></i-feather>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-12 mt-4 pt-2">
        <a routerLink="/portfolio-modern-three" class="btn btn-outline-primary">See More <i
            class="mdi mdi-chevron-right"></i></a>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-footer">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- FAQ n Contact End -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12"> 
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">Dernières nouvelles</h4>
        <p class="text-muted para-desc mb-0">Start working with <span class="text-primary fw-bold">Dalois</span>
          that can provide everything you need to generate awareness, drive traffic, connect.</p>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  <app-blog [blogData]="blogData"></app-blog>
</div>

<!-- Back to top -->
<a href="#" [ngxScrollTo]="'#home'" id="back-to-top" class="btn btn-icon btn-primary back-to-top">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->