#read{
    display: none;
  }
  
  #read2{
    display: none;
  }
  
  #read3{
    display: none;
  }
  #display{
    display: block;
  }
  
  #lire{
    font-weight: bold;
    color: #fff;
  }
  
  #lire3{
    font-weight: bold;
    color: #fff;
  }
  
  #lire2{
    font-weight: bold;
    color: #fff;
  }
  
  #voir{
    font-weight: bold;
    color: #fff;
  }
  
  #voir3{
    font-weight: bold;
    color: #fff;
  }
  
  #voir2{
    font-weight: bold;
    color: #fff;
  }
  #lirenone{
    display: none;
  }