<section class="main-slider" id="home" class="bg-half-10 d-table w-100">
  <ngb-carousel class="slides" [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="bg-half-170 rounded-md" style="background: url('assets/images/ueebg/gal/gal21.png') center center;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="title-heading text-center">
                <h2 class="text-white title-dark mb-3 text-muted">UEEBG</h2>
                <ul class="list-unstyled">
                  <li class="text-muted">
                    Union Des Élèves et Étudiants Bangou <br><span style="font-size: larger; font-weight: bolder;">Fer
                      de lance !</span>
                </ul>
                <h5 class="text-white title-dark mb-1"></h5>
                <ngx-typed-js style="font-weight: bold;" [strings]="['Valoriser notre patrimoine culturel et artistique.',
                    'Connecter les adhérents aux coutumes de notre Groupement. ',
                   'Inculquer à nos adhérents les valeurs culturelles Bangou',
                   ' Promouvoir les traditions du Groupement Bangou.', 
                   'La culture est le socle de nos valeurs et de notre identité.']" [shuffle]="true" [typeSpeed]="100"
                  [loop]="true">
                  <span class="element typing text-primary"></span>
                </ngx-typed-js>
                <div class="mt-4">
                  <!-- <a href="javascript:void(0)" class="btn btn-primary">Read More </a> -->
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
    </ng-template>

  </ngb-carousel>
  <!--end container-->
</section>
<!--end section-->
<!--end section-->
<!-- Hero End -->

<!-- Partners start -->
<section class="py-4 border-bottom border-top">
  <div class="container">
    <app-clients-logo></app-clients-logo>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Partners End -->

<!-- How It Work Start -->
<section class="section bg-light border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Union des Elèves et Etudiants Bangou de Douala </h4>
        </div>
      </div>

    </div>

    <div class="container mt-100 mt-60">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
          <div class="ms-lg-4">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">C'est quoi l'UEEBg ?</h4>
              <p class="text-muted para-desc mb-0 mx-auto" style="text-align: justify;"> L’Union des Elèves et Etudiants
                Bangou <span class="text-primary fw-bold">(UEEBg)</span> est une association à
                but non lucratif et à caractère essentiellement culturel et éducationnel dont l’objectif est de
                rassembler et
                mobiliser les élèves et étudiants Bangou derrière des éléments fondamentaux du développement des
                personnes et des collectivités tels que l’éducation, la vie ensemble, la connaissance et la
                pérennisation
                de la culture, et l’insertion professionnelle.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row align-items-center">
            <div>
              <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                <div class="card-body p-0">
                  <img src="assets/images/ueebg/ndop.jpg" class="img-fluid" alt="work-image">
                  <div class="overlay-work bg-dark"></div>
                  <div class="content">
                    <a href="javascript:void(0)" class="title text-white d-block fw-bold">Danses culturelles</a>
                    <small class="text-light">gnangnan</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
        <!--end col-->

      </div>
      <!--end row-->
    </div>

    <div class="container mt-100 mt-60">
      <div class="row align-items-center">

        <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
          <div class="ms-lg-4">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">Présentation sommaire de l’UEEBg</h4>


              <p class="text-muted para-desc" style="text-align: justify;">Fondée en 1957 à Nkongsamba par un groupe
                d’élèves et étudiants Bangou,
                animés par le
                désir de mieux se connaitre et de se donner les moyens nécessaires pour pouvoir apporter leur pierre à
                la construction du groupement, l’Union des Elèves et Etudiants Bangou en abrégé «UEEBg» et dont la
                devise est « Unité – Discipline – Progrès ».
                est une association à
                but non lucratif et à caractère essentiellement culturel et éducationnel dont l’objectif est de
                rassembler
                et
                mobiliser les élèves et étudiants Bangou derrière des éléments fondamentaux du développement des
                personnes et des collectivités tels que l’éducation, la vie ensemble, la connaissance et la
                pérennisation
                de la culture, et l’insertion professionnelle.</p>
            </div>

            <div class="watch-video mt-4 pt-2">
              <a href="#" routerLink="/about" class="btn btn-primary m-1 me-2">A propos de nous
                <i-feather name="chevron-right" class="fea icon-sm"></i-feather>
              </a>

            </div>
          </div>
        </div>


        <div class="col-lg-6 col-md-6">
          <div class="row align-items-center">
            <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
              <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                <div class="card-body p-0">
                  <img src="assets/images/ueebg/ndop.jpg" class="img-fluid" alt="work-image">
                  <div class="overlay-work bg-dark"></div>
                  <div class="content">
                    <a href="javascript:void(0)" class="title text-white d-block fw-bold">Tenu trditionnelle</a>
                    <small class="text-light">NDOP</small>
                  </div>
                </div>
              </div>
            </div>
            <!--end col-->

            <div class="col-lg-6 col-6">
              <div class="row">
                <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                  <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                    <div class="card-body p-0">
                      <img src="assets/images/ueebg/tagidor.jpg" class="img-fluid" alt="work-image">
                      <div class="overlay-work bg-dark"></div>
                      <div class="content">
                        <a href="javascript:void(0)" class="title text-white d-block fw-bold">Tagidor Hotel</a>
                        <small class="text-light">Patrimoine</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                  <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                    <div class="card-body p-0">
                      <img src="assets/images/ueebg/danse.png" class="img-fluid" alt="work-image">
                      <div class="overlay-work bg-dark"></div>
                      <div class="content">
                        <a href="javascript:void(0)" class="title text-white d-block fw-bold">Danse traditionnelle</a>
                        <small class="text-light">Culture</small>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end col-->


      </div>
      <!--end row-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->


  <!--end container-->
</section>
<!--end section-->
<!-- How It Work End -->

<!-- Testi Start -->

<!--end section-->
<!-- Testi End -->

<!-- Pricing Start -->

<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-light">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- Pricing End -->

<!-- FAQ n Contact Start -->
<section class="section bg-light">
  <div class="container">
    <div class="col-12 text-center">
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">Nos activités </h4>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-6 col-12">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">Reveillon de <span class="text-primary">Noel</span></h5>
            <p class="answer text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability is
              of great importance: human perception is tuned to recognize certain patterns and repetitions in texts.</p>
          </div>
        </div>
      </div> -->
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">La Journée de la Fille et de la Femme Bangou de Douala</h5>
            <p class="answer text-muted mb-0" style="text-align: justify;">La Journée de la Fille et de la Femme Bangou
              <span class="text-primary">(JFFBg)</span>
              de Douala est un événement Culturel qui met en valeur la jeune fille et la femme Bangou de Douala.
              Cet événement culturel est organisé par l’Union des Elèves et Etudiants Bangou (UEEBg) du Centre
              de Douala. <a href="javascript:void(0)" (click)="showMore('read', 'lire')" id="lire"> Lire la suite</a>
              <span id="read"> Chaque édition porte sur un thème précis afin d’orienter la gente féminine Bangou
                non seulement vers un idéal de développement personnel et de renforcement de leur capacité, mais
                aussi vers un idéal de développement de la Communauté Bangou de Douala et du Groupement Bangou par
                ricochet.
                Cet événement riche en culture et unique en son genre se tient généralement les mois d’Avril et
                de Mai et s’étend sur une semaine et met en avant plusieurs activités parmi lesquelles Marche sportive,
                Mini marathon, Concours d’art culinaire, Election Miss UEEBg Douala, Election Miss Maman Bangou de
                Douala,
                Vaste Campagne médicale gratuite, Compétition de Handball féminin, Causerie éducative, Conférence/Débat,
                Matchs de gala, Journée culturelle, Foire et Exposition / Vente.
                <a href="javascript:void(0)" id="voir" (click)="showLess('read', 'lire')">voir moins</a></span>
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0"> Quinzaine culturelle</h5>
            <p class="answer text-muted mb-0" style="text-align: justify;">La Quinzaine Culturelle de l’Union des Elèves
              et Etudiants Bangou
              Centre de Douala est un événement Culturel qui se tient le mois de Juillet de chaque année et
              marque la fin de notre année associative, la fin d’un mandat de bureau.
              <a href="javascript:void(0)" (click)="showMore('read2', 'lire2')" id="lire2"> Lire la suite</a>
              <span id="read2">Cet événement culturel
                est organisé sous un thème précis questionnant la place du jeune Bangou dans la Communauté.
                Les activités qui meublent cet événement sont : Investissement humain – Championnat de
                football – Excursions – Visites d’entreprise - Table ronde – Matchs de gala – Sortie
                pépinière – Soirée des présidents – Journée des anciens ueebgistes – Gala pépinière – Gala de fin
                d’année.
                La Quinzaine Culturelle de l’UEEBg Centre de Douala se veut être un événement de rassemblement;
                un moment de réflexion sur la situation de l’élève et de l’étudiant Bangou de Douala, une opportunité
                de mettre en avant les atouts et de valoriser les jeunes Bangou de par leur talent et leur potentiel.
                <a href="javascript:void(0)" (click)="showLess('read2', 'lire2')" id="voir2">voir moins</a></span>
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">Le Congres National De l'UEEBg</h5>
            <p class="answer text-muted mb-0" style="text-align: justify;">Le Congrès National de l’UEEBg est une
              activité qui
              se tient pendant deux semaines tous les mois d’Août. Par ailleurs, cet événement qui
              se veut unificateur a pour but de promouvoir la culture du groupement Bangou,
              divertir la jeunesse Bangou pendant les grandes vacances tout en leur inculquant
              les valeurs de discipline et de travail.<a href="javascript:void(0)" (click)="showMore('read3', 'lire3')"
                id="lire3"> Lire la suite</a>
              <span id="read3"> Le Congès National de l’UEEBg est un moment
                d’apprentissage, de divertissement, d’épanouissement, aussi et surtout d’imprégnation
                aux valeurs culturelles de notre terre-mère. Cette période est surtout l’occasion idoine
                pour la jeunesse de découvrir la culture Bangou dans toute sa splendeur et sa richesse aux
                moyens des ateliers de formation, de différents chantiers, des rencontres d’échange avec
                les personnes ressources, et les excursions ; d’apprendre à mieux parler notre langue maternelle,
                de chanter et même de danser aux différents rythmes du Groupement au travers des soirées culturelles qui
                y
                sont organisées.
                Cette activité rassemble au village Bangou tous les élèves et étudiants Bangou du territoire
                national autour des activités telles que l’Investissement humain – Réfection des plaques indicatives
                des villages – Apprentissage de la langue ‘‘Nda’nda’’ – Excursions – Championnat de football –
                Championnat
                de handball – Défi culturel des centres – Concours d’orthographe – Scrabbles – Soirée culturelle –
                Apprentissage des
                danses traditionnelles - Séminaires de formation – Présentation des rapports de fonctionnement des
                centres.<a href="javascript:void(0)" (click)="showLess('read3', 'lire3')" id="voir3">voir
                  moins</a></span>
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="d-flex">
          <i-feather name="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i-feather>
          <div class="flex-1">
            <h5 class="mt-0">Journée de l'excellence</h5>
            <p class="answer text-muted mb-0">La Journée de l’Excellence Scolaire (JES) Bangou de Douala est un
              événement
              organisé par l’Association des Elites Bangou de Douala (AEBD) dont l’objectif est de promouvoir
              l’excellence et cultiver en leurs enfants le goût de l’effort et la satisfaction du travail bien fait. 
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row my-md-5 pt-md-3 my-4 pt-2 pb-lg-4 justify-content-center">

    </div>
    <!--end row-->

    <div class="row">
      <div class="col-12">
        <div class="section-title mb-4 pb-2">
          <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">Aperçu de notre gallerie </h4>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let item of workList; let i=index">
        <div class="card border-0 work-container work-modern position-relative d-block overflow-hidden rounded">
          <div class="card-body p-0">
            <img src="{{item.image }}" class="img-fluid" alt="work-image">
            <div class="overlay-work bg-dark"></div>
            <div class="content">
              <h5 class="mb-0"><a routerLink="/page-work-detail" class="text-white title">{{item.title}}</a></h5>
              <h6 class="text-light tag mb-0">{{item.category}}</h6>
            </div>
            <div class="icons text-center">
              <a (click)="open(i)" class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image">
                <i-feather name="camera" class="fea icon-sm"></i-feather>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-12 mt-4 pt-2">
        <a routerLink="/portfolio-modern-three" class="btn btn-outline-primary">See More <i
            class="mdi mdi-chevron-right"></i></a>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-footer">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- FAQ n Contact End -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">Dernières nouvelles</h4>
        <p class="text-muted para-desc mb-0">Start working with <span class="text-primary fw-bold">Dalois</span>
          that can provide everything you need to generate awareness, drive traffic, connect.</p>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  <app-blog [blogData]="blogData"></app-blog>
</div>

<!-- Back to top -->
<a href="#" [ngxScrollTo]="'#home'" id="back-to-top" class="btn btn-icon btn-primary back-to-top">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->